p.intro
{
    
    font-weight: bold;
    
}

button
{
    background-color: red;
    color: white;
}

ul.subjects
{
    color: blue;
    margin-left: 5px;
}

img
{
width: 100px;
border-radius: 50px;

margin-right: 10px;
}